@use "../src/scss-modules/devices.scss";
@use "../src/scss-modules/mixin.scss";

/*-------------*/ //Variables
//borders
$red: solid 3px red;
$blue: solid 3px blue;
$green: solid 3px green;
//core colours
$black: #010101ff;
$dark-grey: #2a363eff;
$paynes-grey: #586b79ff;
$light-grey: #a7b4bdff;
$white: #d7e4ecff;
//font
$font: "Libertinus Math", system-UI;
//button zone size
$btn-zone-width: 400px;
/*-------------*/

:root {
  font-family: $font;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  padding: 0;
  margin: 0; //reset defaults
}

/*-----------*/

h1 {
  font-size: 5rem;
  position: relative;
  transition: opacity 1s linear;
}
// Might need a more meaningful allocation of id and class

button {
  font-family: $font;
  background-color: $black;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: none;
  color: $white;
  font-size: 2rem;
  align-content: center;
  text-align: center;
  cursor: pointer;
  transition: opacity 1s linear;
}

button:hover,
button:active {
  box-shadow: 0px 0px 30px $paynes-grey;
  scale: (1.02);
}
/*-----------*/

#begin {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: none;
  transition: opacity 1s linear;
}

.game-zone {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;

  &__quote-zone {
    display: none;
    opacity: 0;
    width: 60%;
    flex-direction: column;
    gap: 30px;
    transition: opacity 1s linear;

    &--text {
      font-style: italic;
      transition: opacity 1s linear;
    }

    &--author {
      font-weight: bolder;
      transition: opacity 1s linear;
    }
  }

  &__text-zone {
    @include mixin.hidden;
    flex-direction: column; //for when display = flex (DOM);
    width: 200px;
    position: absolute;
    transition: opacity 1s linear;
  }

  &__btn-zone {
    @include mixin.hidden;
    box-shadow: 0px 0px 30px $paynes-grey;
    position: absolute;
    width: $btn-zone-width;
    height: $btn-zone-width;
    border-radius: 50%;
    transition: opacity 1s linear;

    &--btn {
      position: absolute;
      font-size: 1rem;
      transition: opacity 1s linear;
    }
  }
}

#btn-1 {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
}
#btn-2 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-50%, 0);
}
#btn-3 {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 0);
}
