@use "../src/scss-modules/devices.scss";
@use "../src/scss-modules/mixin.scss";

/*-------------*/
$red: solid 3px red;
$blue: solid 3px blue;
$green: solid 3px green;

$font: "Libertinus Math", system-UI;

$black: #010101ff;
$dark-grey: #2a363eff;
$paynes-grey: #586b79ff;
$light-grey: #a7b4bdff;
$white: #d7e4ecff;
/*-------------*/
* {
  transition: opacity 1s linear;
}

:root {
  @include mixin.centerElement;
  font-family: $font;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
}

/*-----------*/

h1 {
  font-size: 5rem;
}

button {
  font-family: $font;
  background-color: $black;
  padding: 30px;
  border-radius: 50%;
  border: none;
  color: $white;
  font-size: 2rem;
  align-content: center;
  text-align: center;
  cursor: pointer;
}

button:hover,
button:active {
  box-shadow: 0px 0px 30px $paynes-grey;
  scale: (1.02);
}
/*-----------*/

.game-zone {
  &__quote {
    @include mixin.hidden;
    position: absolute;
  }

  &__btn-zone {
    @include mixin.hidden;
  }
}
