@use "../src/scss-modules/devices.scss";
@use "../src/scss-modules/mixin.scss";

//----------------------------Variables
$red: solid 3px red; //borders
$blue: solid 3px blue;
$green: solid 3px green;

$black: #010101ff; //core colours
$dark-grey: #2a363eff;
$paynes-grey: #586b79ff;
$light-grey: #a7b4bdff;
$white: #d7e4ecff;

$font: "Libertinus Math", system-UI;

/*-------------*/

:root {
  font-family: $font;
  background-color: $black;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-grow: 1;
  padding: 0;
  margin: 0; //reset defaults
  @include devices.phone {
    overflow: hidden;
  }
}
//---------------------------------Elements

h1 {
  font-size: 5rem;
  position: relative;
  transition: opacity 1s linear;
  max-width: 75%;
  bottom: 50px;
}
// Might need a more meaningful allocation of id and class
nav {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  height: 30px;
  padding: 25px;

  z-index: 1000;
}

button {
  font-family: $font;
  background-color: $black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  border: none;
  color: $white;
  font-size: 2rem;
  align-content: center;
  text-align: center;
  cursor: pointer;
  transition: opacity 1s linear;
  @include devices.phone {
    width: 90px;
    height: 90px;
  }
}

button:hover,
button:active {
  box-shadow: 0px 0px 30px $paynes-grey;
  scale: 1.05;
}

audio {
  display: none;
}
//-------------------------------------BEM, . & #
#begin {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: none;
  position: relative;
  bottom: 50px;
  transition: opacity 1s linear;
}

.game-zone {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  transition: opacity 1s linear;
  @include devices.phone {
    flex-direction: column;
  }

  &__display-zone {
    @include mixin.hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 50px;
    width: 200px;
    min-height: 200px;
    padding: 80px;
    z-index: 1;
    transition: opacity 1s linear, transform 2s linear;
    box-shadow: 0px 0px 30px $paynes-grey;
    @include devices.phone {
      width: 150px;
      min-height: 150px;
      font-size: 0.75rem;
      bottom: 70px;
    }
    &--text {
      transition: display 3s ease-in;
    }
  }

  &__btn-zone {
    @include mixin.hidden;
    flex-direction: column;
    gap: 50px;
    position: relative;
    bottom: 50px;
    box-sizing: border-box;
    transition: opacity 1s linear;
    max-width: 80%;
    @include devices.phone {
      flex-direction: row;
      gap: 50px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      bottom: 70px;
    }

    &--btn {
      font-size: 1rem;
      transition: opacity 1s linear;
      position: relative;
      @include devices.phone {
        box-shadow: 0px 0px 30px $paynes-grey;
        border-radius: 0;
        font-size: 0.7rem;
        padding: 10px;
      }
    }
  }
}

.nav-button {
  width: 50px;
  height: 50px;
  @include devices.phone {
    width: 40px;
    height: 40px;
  }
}

//Fade Out

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  animation: fade-out 13s ease-in forwards;
}

.message {
  font-size: 2rem;
  position: absolute;
  z-index: 1000;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
