$area1-purple: #3c1b32;
$area1-blue: #7b3af6;
$area1-c1: #fcfbc9;
$area1-c2: #070e28;
$area1-alt-blue: #081d46;

$area2-c2: #00081a;
$area2-murky-blue: #031845;
$area2-sea-water: #026aa9;
$area2-c1: #00edfe;
$area2-royal-blue: #023179;

$area3-c2: #031e1b;
$area3-black: #020206;
$area3-c1: #85de9fff;
$area3-green: #0c7a46;
$area3-grass: #369d52;
